/* FORMATTING */

@font-face {
    font-family: 'opensans';
    src: url('../font/opensans/OpenSans-Regular.ttf') format("truetype"));
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'opensans', sans-serif;
    font-style: normal;
    font-size: 1em;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0;
    word-spacing: 0.10em;
    line-height: 1.3em;
    color: #fafafa;
    background-color: #262626;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    word-spacing: 0;
}

h1 {
    font-size: 2.5em;
    font-weight: 400;
    margin: .67em 0;
}

h2 {
    font-size: 1.5em;
    font-weight: 400;
    margin: .83em 0;
}

h3 {
    font-size: 1.3em;
    font-weight: 400;
    margin: 1em 0;
}

h4 {
    font-size: 1.1em;
    font-weight: 400;
    margin: 1.44em 0;
}

h5 {
    font-size: 1em;
    font-weight: 400;
    margin: 1.67em 0;
}

h6 {
    font-size: .75em;
    font-weight: 400;
    margin: 2.33em 0;
}

p {
    font-size: 1em;
    display: block;
    margin: 1em 0;
}

hr {
    margin: 0.5em 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.clear {
    clear: both;
}

.clearright {
    clear: right;
}

.clearleft {
    clear: left;
}

.none {
    clear: none;
}

p.left {
    text-align: left;
}

p.right {
    text-align: right;
}

p.center {
    text-align: center;
}

.aligncenter, div.aligncenter {
    display: block;
    margin: auto 0;
}

.hide {
    display:none;
}

.show {
    display:block;
}

/* SITE */

#bg {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-14612.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#header {
    /*height: 50px;*/
    margin: auto;
}

#wrapper_content {
    overflow: hidden;
    width: 98%;
    margin: auto;
    padding-top: 3em;
}

#footer {
}

#clock {
    font-size: 3em;
}

#clock_out {
    padding: 2%;
}

/* LINKS */

.linksbox {
    -webkit-box-shadow: 0px 0px 2px 0px #000;
    -moz-box-shadow: 0px 0px 2px 0px #000;
    box-shadow: 0px 0px 2px 0px #000;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    margin: 0.5%;
    padding: 8px 8px 8px 8px;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius:2px;
    min-width: 200px;
}

a img, :link img, :visited img {
    text-decoration: none;
    outline: none;
    border: 0;
}

a {
    text-decoration: none;
    outline: none;
    color: #fafafa;
    display: block;
}

a:hover {
    text-decoration: none;
    outline: 0;
    color: #3a5fcd;
    background: none;
}

#s01 a:hover {
    color: #3a5fcd;
}
#s02 a:hover {
    color: #ff4444;
}
#s03 a:hover {
    color: #09c549;
}
#s04 a:hover {
    color: #f2eb03;
}
#s05 a:hover {
    color: #c5bbbb;
}

/* NAVIGATION */

/* CONTENT */

img {
    border: 1px solid #666666;
    max-width: 100%;
    padding: 2px;
    margin: 2px;
}

a img:hover {
    background-color: #666666;
}

.gap_top {
    margin: 20px 0 0 0;
}

/*EFFECTS*/

.rounded {
    border-radius: 3px;
}

.shadow_small {
    box-shadow: rgba(0, 0, 0, 0.4) 0  0 3px;
}

.shadow_big {
    box-shadow: rgba(0, 0, 0, 0.4) 0  0 6px;

}

/* ICONS */

.icon {
    font-family: 'entypo';
    font-size: 2em;
}

.icon_social{
    font-family: 'entypo_social';
    font-size: 2em;
}

/* MEDIA QUERIES */

/* WHATEVER */

.section-full {
    height: 100vh;
}

/* WEATHER */

#weather_out {
    width: 20%;
    position: absolute;
    /*background-color: #ff4444;*/
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 1%;
}

#weather_current_box0 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
}

.weather_current_box1 {
    display: inline;
}

.weather_current_box1:last-child {
    text-align: right;
    margin-left: 50px;
}

#weather_forecast_table {
    width: 100%;
}

#weather_current_text {
    font-size: 0.6em;
}
